@font-face {
  font-family: Quicksand;
  src: url(Quicksand-VariableFont_wght.ttf);
}

img {
  border-radius: 50%;
  width: 5cm;
  border-color: #d0c5b3;
}

body>div.banner{
    background-color: #fdf5e7;
    color: hsl(63, 100%, 83%);
    line-height: 1.5;
    font-family: 'Quicksand',sans-serif;
}

body>div.text1{
  background-color: #fdf5e7;
  color: hsl(31, 36%, 22%);
  line-height: 1.5;
  font-family: 'Quicksand',sans-serif;
}

body>div.text1>div.textbox{
  background-color: rgb(255, 254, 251);
  width: 10cm;
  height: 5cm;
  color: hsl(31, 36%, 22%);
  font-family: 'Quicksand',sans-serif;
  font-size: larger;
  border-radius: 1cm;
}

.header {
  font-size: 2.5rem;
  transition: all 0.5s;
}

.sub {
  font-size: 1.25rem;
  transition: all 0.5s;
}

@media only screen and (min-width: 600px) {
  .header {
    font-size: 4rem;
    transition: all 0.5s;
  }  
  .sub {
    font-size: 2rem;
    transition: all 0.5s;
  }  
}

@media only screen and (min-width: 1200px) {
  .header {
    font-size: 6rem;
    transition: all 0.5s;
  }  
  .sub {
    font-size: 3rem;
    transition: all 0.5s;
  }  
}